/Amstrong.class
/Factor.class
/Factorial.class
/Fibanocci.class
/GCD.class
/GreaterNumber.class
/HappyNumber.class
/LCM.class
/LeapYear.class
/NthTermOfFibanocci.class
/oddOrEven.class
/Palindrome.class
/PerfectNumber.class
/PerfectSquare.class
/PositiveNegative.class
/PowerOfNumber.class
/Prime.class
/PrimeNumbers.class
/Random.class
/Reverse.class
/StrongNumber.class
/SumOfDigit.class
/SumOfNumbers.class
/SuperNumber.class